/* === Root Variables === */
:root {
  --font-playwrite: "Playwrite US Trad", cursive;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;

  --color-primary: #fa64b2;
  --color-accent: #250124;
  --color-pink: #ed1ebb;
  --color-secondary: #faf9f3;
  --color-red: #ea0606;
  --color-text: #101d1c;
  --color-white: #ffffff;
  --color-light: #fffcef;
  --color-greiny: #d5f8cf;
}

/* === General Reset === */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*,
*,
*,
* {
  outline: 1px solid var(--color-red);
}

body {
  font-family: var(--font-jakarta);
}

a {
  text-decoration: none;
  color: inherit;
}
/* === Header === */

/* === Main Content === */

/* landing - header start */
.header-landing {
  position: sticky;
  top: 72px;
  z-index: 999;
}
.hero-nav {
  background-color: var(--color-accent);
  padding: 10px 60px;
  border-radius: 200px;
}
.landing-logo img {
  width: 120px;
}
.menu-link {
  margin-bottom: 0px;
  padding-left: 0px;
  gap: 24px;
}
.menu-link li {
  list-style: none;
}
.menu-link li a {
  text-decoration: none;
  font-family: var(--font-jakarta);
  font-weight: 600;
  font-size: 16px;
  color: var(--color-greiny);
}
/* landing - header end */
/* landing - hero start */
#landing-hero {
  background-image: url(../assets/img/hero-slider-01.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  transition: background-image 1s ease-in-out;
  margin-top: -86px;
}
#hero-heading,
#hero-subtext {
  transition: opacity 1s ease-in-out;
}
#hero-subtext {
  padding: 24px 0px 60px;
}
.hero-content {
  max-width: 750px;
  width: 100%;
  color: var(--color-white);
}
#hero-heading {
  font-family: var(--font-jakarta);
  font-weight: 800;
  font-size: 85px;
  line-height: 120%;
}
#hero-heading span {
  font-weight: 400;
  font-family: var(--font-playwrite);
}
#hero-subtext {
  font-family: var(--font-jakarta);
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
}
.fm-top-left {
  position: absolute;
  left: 50px;
  top: 40px;
  overflow: hidden;
  transform: scaleX(-1);
}
.fm-top-right {
  position: absolute;
  right: 50px;
  top: 40px;
  overflow: hidden;
}
.fm-bottom-left {
  position: absolute;
  left: 50px;
  bottom: 40px;
  overflow: hidden;
  transform: scaleX(-1);
  transform: rotate(180deg);
}
.fm-bottom-right {
  position: absolute;
  right: 50px;
  bottom: 40px;
  overflow: hidden;
  transform: rotate(90deg);
}
.fm-middle-right {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
}
.fm-overlay .img {
  width: 50px;
  height: 50px;
  aspect-ratio: 1/1;
}
/* landing - hero end */
/* landing - myspace start */
#landing-myspace {
  background-image: url(../assets/img/benefits.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  transition: background-image 1s ease-in-out;
}
.myspace-content {
  max-width: 616px;
}
.myspace-content h2 {
  color: #101d1c;
  font-family: var(--font-jakarta);
  font-size: 44px;
  font-weight: 600;
  line-height: 120%;
}
.myspace-content p {
  color: #101d1c;
  font-family: var(--font-jakarta);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  padding-top: 20px;
}
.myspace-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin-top: 40px;
}

.myspace-list .myspace-box {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: 8px;
  border: 1px solid rgba(120, 113, 108, 0.2);
  background: #fff;
}
.myspace-box img {
  width: 80px;
  height: 80px;
  aspect-ratio: 1/1;
}
.myspace-box h5 {
  color: #101d1c;
  text-align: center;
  font-family: var(--font-jakarta);
  font-size: 20px;
  font-weight: 600;
  line-height: 150%; /* 30px */
}
.benefit-frame {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

/* landing - myspace end */

/* === Footer === */
